@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;

body{
    width: 100%;
    height: 100vh;
    /*overflow: hidden;*/
    background-color: black;
    
}

nav{
    width: 100%;
    height: 10vh;
    position: sticky;
    padding-left: 2%;
}

.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: -3%
}

.logo{
    
    color: white;
    font-size: 2rem;
    font-weight: bold;
    
}

.logo span{
    color: #9932CC;
    text-shadow: 0 0 10px #9932CC;
}

.hamburg,
.cancel{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    display: none;
    font-size: clamp(2.5rem, 0.5rem + 5vw, 3rem);
}

.nav-container .links{
    display: flex;
}

.nav-container .links a{
    position: relative;
    font-size: 1.2rem;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}

.nav-container .links a::before{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #9932CC;
    transition: 0.2s linear;
}

.nav-container .links a:hover::before{
    width: 100%;
}

.nav-container .links a:hover{
    color: #9932CC;
}

.dropdown{
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(4px) brightness(40%);
    box-shadow:  0 0 20px black;
    transition: 0.2s linear;
}

.dropdown .links a{
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: 0.2s linear;
}

.dropdown .links a:hover{
    background-color: #9932CC;
}

section{
    width: 100%;
    height: 90vh;
}

.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:20%;
    gap: 80px;
}

.main-container .image{
    width: 500px;
    height: 70vh;
    border-radius: 100%;
   overflow: hidden;
    box-shadow: 0 0 70px #9932CC;
}

.main-container .image img{
    width: 100%;
    height: 120%;
}

.main-container .image:hover{
    animation: animate 1.8s ease-in-out infinite;
}

@keyframes animate {
    0%{
        scale: 1;
    }
    
    50%{
        scale: 1.05;
    }
    
    100%{
        scale: 1;
    }
}

.main-container .content{
    color: white;
    width: 50%;
    min-height: 100px;
}

.content h1{
    font-size: clamp(4rem, 4rem + 7vw, 2.9rem);
}

.content h1 span{
    color: #9932CC;
    text-shadow: 0  0 10px #9932CC;
}

.content .typewriter{
    font-size: clamp(2.8rem, 4rem + 8vw, 2.8rem);
    font-weight: 600;
}

.content .typewriter-text{
    color: #9932CC;
    text-shadow: 0 0 10px #9932CC;
}

.content p{
    font-size: clamp(2.5rem , 2.5rem + 15vw, 4rem);
    margin: 10px 0;
}

.social-links i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid #9932CC;
    border-radius: 50%;
    color: #9932CC;
    margin: 0px 60px;
    font-size: 1.5rem;
    transition: 0.2s linear;
}

.social-links i:hover{
    scale: 1.3;
    color: black;
    background-color: #9932CC;
    filter: drop-shadow(0 0 10px #9932CC);
}

.content button{
    width: 60%;
    height: 8vh;
    margin: 20px;
    background-color: #9932CC;
    color: white;
    border: none;
    outline: none;
    font-size: 150%;
    font-weight: 700;
    border-radius: 6px;
    transition: 0.2s linear;
}

.content button:hover{
    scale: 1.1;
    color: #9932CC;
    border: 2px solid #9932CC;
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 0 40px  #9932CC;
}

           
@media (max-width:440px){
    .about-col-2{
       padding: 20px;
    }

}

@media (max-width:884px) {
    nav .logo{
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
    }

    .main-container {
        display: flex;
        flex-direction: column;
    }

    .nav-container .links{
        display: none;
    }

    .hamburg,
    .cancel{
        display: block;
    }

    .main-container .content{
        width: 80%;
    }
    .content h1{
        font-size: clamp(0.8rem,0.8rem + 5vw, 1.5rem);
    }
    .content .typewriter{
        font-size: clamp(1.2rem,0.8rem + 5vw,2rem);
    }

    .social-links i{
        display:inline-flex;
        margin-left:30px;
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }

    .main-container .image{
        z-index: -1;
        width: 50%;
        height: 60%;
    }
    .button{
        margin-left:60px;
    }
}

@media (max-width:440px){
    .main-container .image{
        width: 50%;
        height: 60%;
        margin-bottom: 0px;
    }

    .main-container .content{
        width: 80%;
    }

    .main-container button{
        margin-top: 15px;
    }
}

/* About Section*/
#about{
    
    padding : 15px 0;
    background-color: #f7f7f729;
    color: #fff;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 30%;
}
.about-col-1 img{
    width: 90%;
    height:90%;
    border-radius: 25px;
    margin-left:30px;
}


.about-col-2{
    flex-basis: 100%;
    color:#fff
}
.about-col-2 h1{
    color: #9932CC;
    text-shadow: 0 0 10px #9932CC;
}
.about-col-2 p{
    font-size: 160%;
}
.sub-title{
    font-size: 80px;
    font-weight: 600;

}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size:35px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #9932CC ;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s ;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 150%;
    
}
.tab-contents ul li span{
    color: #9932CC;
    font-size: 25px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}



/* SERVICE SECTION*/
#services{
    padding: 40px 20px;
    color: #fff;
}
.container h1{
    color: #9932CC;
    text-shadow: 0 0 10px #9932CC;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px;
}
.services-list div {
    background-color: #262626; /* Initial background */
    transform: translateY(0); /* Initial transform */
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;

}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover {
    background: #9932CC;
    transform: translateY(-10px);
}
/* portfolio*/
#portfolio{
    padding: 40px 20px;
    color: #fff;
}
.container h1{
    color: #9932CC;
    text-shadow: 0 0 10px #9932CC;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#9932CC);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 10px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    
}
.layer a{
    margin-top: 20px;
    color: #9932CC;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    width: 60px;
    border-radius: 50%;/* circle*/
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #9932CC;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration:none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #9932CC;
    scale: 1.1;
    color:#9932CC;
    border: 2px solid #9932CC;
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 0 40px  #9932CC;
}

/*contact*/
.row{
    padding: 40px 20px;
    color: #fff;
}
.row h1{
    color: #9932CC;
    text-shadow: 0 0 10px #9932CC;
}

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #9932CC;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
    padding-left: 15%;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color:#ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #9932CC;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #9932CC;
    margin-left: 30px;
}


.btn.btn2:hover{
    scale: 1.1;
    color: #9932CC;
    border: 2px solid #9932CC;
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 0 40px  #9932CC;
}
.contact-right .btn2{
    margin-left: 300px;  
}

.contact-right form{
    width: 90%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline:none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding:14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
#msg{
    color: #9932CC;
    margin-top: -20px;
    display:block;
}

/*For small screen*/
@media only screen and (max-width: 600px){
    
    .sub-title{
        font-size: 40px;
    }
    .about-col-1,.about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        
        margin-right: 35px;
    }
    .about-col-2{
        font-size: 14px;

    }
    .social-icons{
    padding-left: 13%;
    }
    
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    } 
    .contact-left,.contact-right{
        flex-basis: 100%;
    }
    .btn.btn2{
        margin-left: 10px;   
    }  
}


.copyright{
    width: 100%;
    text-align: center;
    padding:25px 0;
    background:#262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #9932CC;
}

}




























